footer{
  line-height: 25px;
  font-size: 1.3rem;
  text-align: justify;
  color: GRAY;
  margin: 30px 0px 60px;
}

#copyright{
  font-weight: bold;
  margin: auto;
  width: 60%;
  text-align: center;
}

#copyright img{
  width: 2rem;
}

#copyright h4{
  margin: 0px;
}
#copyright h4 img{
  width: 2.6rem;
  margin: 6px 6px;
}
