#info-pad{
  position: fixed;
  left: 38%;
  top: 12%;
  z-index: 9;
  box-shadow: -1px 4px 6px 1px #000;
  border-radius: 8px;
  background-color: #fff;
  width: 320px;
}

#info-pad h2{
  margin:0;
  border-radius: 8px 8px 0px 0px;
  padding: 8px 0px;
  text-align: center;
  font-size: 1.5em;
  background-color: #1677b3;
  color: #fff;
}

#info-content, #embededHTML{
  line-height: 26px;
  text-align:justify;
  margin: 0px 0px 50px 0px;
  font-size: 0.9em;
  padding: 0px 18px;
}
