body{
  margin: 0px;
  background-image: url('../resource/asfalt-dark.png');
}

#login-panel{
  margin: 10% auto;
  width: 20%;
  left: 50%;
  font-size: 15px;
}

#login-panel form{
  padding: 20px;
  margin: auto;
}

#legend{
  margin: 0px;
  padding: 8px;
  color: #ffffff;
  font-weight: bolder;
}

#forget-pass{
  font-size: 12px;
  color: red;
}

.capital{
  font-size: 60px;
  font-family: "Times New Roman", Monospace, Impact, Arial;
}

#deep{
  color: #ff0000;
}
#cosmos{
  color: Orange;
}

.submit{
  background-color: #0371d9;
  padding: 6px 20px;
  color: #ffffff;
  font-size: 10px;
  border-radius: 6px;
  width: 250px;
}

.textField{
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid Gray;
}

.normal{
  display: none;
}

.alarm{
  display: block;
  color: red;
  font-size: 12px;
}
