body{
  margin: 0;
}
.blurBg{
  animation-name: blurBg;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes blurBg {
  100%{
    filter: blur(1.2px) grayscale(100%);
    opacity: 0.8;
  }
}

.general-submit-btn{
  border-radius: 6px;
  padding: 4px 12px;
  background-color: #0371d9;
  color: #fff
}
