body{
  margin: 0;
}
.blurBg{
  animation-name: blurBg;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes blurBg {
  100%{
    filter: blur(1.2px) grayscale(100%);
    opacity: 0.8;
  }
}
