#navigation{
  padding-top: 10px;
  font-size: 1.4rem;
  color: #000;
  width: 100%;
}

#navigation img{
  position: relative;
  width: 15px;
  margin-right: 4px;
  top: 2px;
}

#navigation a{
  text-decoration: none;
  color: #000000;
  margin-left: 18px;
}
#navigation a:first-child{
  margin-left: 0px;
}

#navigation select{
  margin-left: 18px;
}

#navigation .hello{
  text-decoration: underline;
  color: green;
}
