#promotion{
  width: 100%;
  border-bottom: 1px solid gray;
}

#promotion-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.promotion-pad{
  cursor: pointer;
  width: 310px;
  border: 1px solid GRAY;
  margin: 10px;
  border-radius: 4px;
}
.promotion-pad img{
  width: 100%;
}

.promotion-pad:hover{
  box-shadow: 1px 1px 4px 1px #000;
}

.promotion-desc{
  padding: 18px;
  margin: 0px;
  font-size: 1.6rem;
  /* text-align: left; */
  word-wrap: break-word;
}

.promotion-title{
  color: #000;
}

.promotion-detail{
  color: GRAY
}

.amazing-price{
  font-size: 1.8rem;
  color: RED;
}

.loadingStatus{
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-align: center;
  margin: 0px;
}

@keyframes loading {
  0%{
    opacity: 1
  }
  30%{
    opacity: 0.8
  }
  60%{
    opacity: 0.4
  }
  80%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}
