#searchResult{
  border-bottom: 0px solid gray;
}

#searchResult table{
  width: 100%;
  margin: auto;
  padding: 0px;
  border-collapse:collapse;
}

#searchResult table tr{
  line-height: 30px;
}

.flightsInfo:hover{
  background-color: #93b5cf;
  cursor: pointer;
}

#searchResult table tr td{
  padding: 4px 50px;
}

.flightsInfo{
  background-color: #b2bbbe;
  text-align: center;
  font-size: 14px;
}

#search-purchaseContent *{
  margin-left: 10px;
}
#search-purchaseContent{
  text-align: right;
  padding: 0px 10px;
  color: green;
  font-size: 14px;
}
#search-purchaseContent button{
  background-color: #0371d9;
  border-radius: 6px;
  padding: 4px 12px;
  color: #fff;
}
#search-purchaseContent img{
  width: 18px;
  margin-right: 4px;
}

#searchResult th{
  background-color: #144a74;
  padding: 6px 10px;
  color: #ffffff;
  line-height: 40px;
}
