#searchResult{
  border-bottom: 1px solid gray;
}

#searchResult table{
  width: 100%;
  margin: auto;
  padding: 0px;
  border-collapse:collapse;
}

#searchResult table tr{
  /* background-color: #b2bbbe; */
  line-height: 30px;
}

.flightsInfo:hover{
  background-color: #93b5cf;
  cursor: pointer;
}

#searchResult table tr td{
  padding: 4px 50px;
}

.flightsInfo{
  background-color: #b2bbbe;
  text-align: center;
}

#purchaseContent{
  text-align: right;
  padding: 0px 10px;
}

#searchResult th{
  background-color: #144a74;
  padding: 6px 10px;
  color: #ffffff;
  line-height: 40px;
}
