#searchResult{
  border-bottom: 0px solid gray;
  text-align: justify;
}

#searchResult table{
  width: 100%;
}

#searchResult table thead th:first-child{
  border-radius: 10px 0px 0px 0px;
}
#searchResult table thead th:last-child{
  border-radius: 0px 10px 0px 0px;
}
#searchResult thead{
  color: #fff;
  line-height: 38px;
}

.search-table-feeded{
  background-color: #1677b3;
}
.search-table-unfeeded{
  background-color: GRAY;
}

.flightsInfo{
  background-color: #b2bbbe;
  text-align: center;
  line-height: 30px;
  font-size: 1.4rem;
}

.flightsInfo:hover{
  background-color: #93b5cf;
  cursor: pointer;
}

.search-purchase-button{
  margin-left: 12px;
}

#search-purchaseContent{
  text-align: right;
  padding: 0px 10px;
  color: green;
  font-size: 1.4rem;
}
#search-purchaseContent img{
  width: 18px;
  margin-right: 4px;
}
