#search{
  text-align: center;
}

.searchFlightButton{
    margin-left: 10px;
}

.pickList{
  line-height: 24px;
  border-radius: 6px;
}

#search-switch-direction{
  margin: 0px 10px;
  cursor: pointer;
}
#search-switch-direction a{
  font-size: 0.8em;
  color: gray;
  text-decoration: none;
}

.arrow{
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.right-arrow{
  transform: rotate(-40deg);
}

.left-arrow{
  transform: rotate(130deg);
}
