#signin{
  position: fixed;
  left: 38%;
  top: 12%;
  z-index: 9;
  box-shadow: -1px 0px 6px 1px #000;
  border-radius: 8px;
  background-color: #fff;
  width: 320px;
}

#closeSigninBox{
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 4px;
  background-color: #fff;
}

#tabs{
  padding: 20px;
}

#tabs button{
  margin: 4px 0px;
  padding: 8px 12px;
  font-size: 1.4rem;
}

.onFocus{
  color: #000000;
  border: 0px;
  border-bottom: 1px solid Gray;
}

#tab-content{
  padding: 20px 0px;
}

.hint{
  cursor: pointer;
  font-size: 1.3rem;
  color: green;
  margin-top: 8px;
}

.notation{
  font-size: 1.4rem;
  color: red;
  font-weight: bold;
}

.submit{
  background-color: #0371d9;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 1.4rem;
  border-radius: 6px;
  width: 250px;
  margin-top: 8px;
}

.textField{
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid Gray;
}

.normal{
  display: none;
}

.alarm{
  display: block;
  color: red;
  font-size: 1.2rem;
}
