#signin{
  position: fixed;
  left: 38%;
  top: 12%;
  z-index: 9;
  box-shadow: -1px 0px 6px 1px #000;
  border-radius: 8px;
  background-color: #fff;
  width: 320px;
}

#closeSigninBox{
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 4px;
  background-color: #fff;
}

#tabs{
  padding: 20px;
}

#tabs button{
  margin: 4px 0px;
  padding: 8px 12px;
  font-size: 0.9em;
}

.onFocus{
  color: #000000;
  border: 0px;
  border-bottom: 1px solid Gray;
}

#tab-content{
  padding: 20px 0px;
}

#login-panel{
  font-size: 0.9em;
}

.hint{
  font-size: 0.9em;
  color: green;
  margin-top: 8px;
}

#legend{
  margin: 0px;
  padding: 8px;
  font-family: Serif, "Times New Roman";
  font-size: 1.4em;
}

#deep{
  color: #144a74;
}
#cosmos{
  color: #d6a01d;
}
.text-rotate{
  font-size: 1.2em;
  display: inline-block;
  transform: rotate(-40deg);
}

.notation{
  font-size: 0.9em;
  color: red;
  font-weight: bold;
}

.submit{
  background-color: #0371d9;
  padding: 6px 20px;
  color: #ffffff;
  font-size: 0.6em;
  border-radius: 6px;
  width: 250px;
  margin-top: 8px;
}

.textField{
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid Gray;
}
