#topPanel{
  height: 340px;
  color: #000;
  text-align: center;
}

#topPanel h2{
  margin: 0px;
  font-size: 3rem;
}

#topPanel h1{
  font-size: 6rem;
  margin-bottom: 0px;
}

#topPanel h3{
  margin: 0px;
}
#topPanel img{
  width: 200px;
}

#top-logo1{
  color: #144a74;
}

#top-logo2{
  color: #d6a01d;
}
