#topPanel{
  height: 340px;
  color: #000;
  text-align: center;
  font-family: Impact, Sans-Serif
}

#topPanel h2{
  margin: 0px;
  font-size: 3rem;
}

#topPanel h2 span:first-child{
  color: #d6a01d;
}

#topPanel h2 span:last-child{
  color: #144a74;
}

#topPanel h1{
  font-size: 6rem;
  margin-bottom: 0px;
}

#topPanel h1 span:first-child{
  color: #144a74;
}

#topPanel h1 span:last-child{
  color: #d6a01d;
}

#topPanel h3{
  margin: 0px;
}
#topPanel img{
  width: 200px;
}
